<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oh, no! An Error Occured!</title>
</head>
<body>
<p style="text-align: center">
    <img src="http://i1.kym-cdn.com/photos/images/newsfeed/000/228/791/632.gif">
</p>
<h1 style="text-align: center">
    Uh oh, looks like something went wrong!
</h1>
<h2 style=" color:blue;text-align: center">
    There are a few possible reasons why you're recieving this message:
</h2>

<h4 style="text-align: center">- The Twitter handle you entered isn't valid. <br>
    - The Twitter handle you entered doesn't have enough tweets to work with our script. <br>
    - There is a problem that we haven't fixed or seen yet that needs addressing. </h4>


</body>
</html>