<!DOCTYPE html>
<html xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">
    <head>
        <title>ImmiTweet</title>
    <body style = background-color:white >
    <p style="text-align:center;"><img src="http://i.imgur.com/MYg59eY.png" height="189" width="708"></p>
    <form method="POST" action="" style= text-align:center;>
     {% csrf_token %}
     {{ form.as_p }}
    <input type="text" name="handle" placeholder="Enter a twitter handle here..." value="" style=width:800px;height:50px;font-size:20px><br>
<input type="submit" value="Get Tweet">
</form>

    </body>
</html>